/* Navbar Custom Styles */
.navbar-custom {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background: #ffffff !important;
}

.navbar-custom .navbar-brand {
    font-size: 26px;
  font-weight: 700;
  color: #111827;
  letter-spacing: 1px;
font-family: 'Inter', sans-serif;
background-color: #ffffff;
padding: 6px 12px;
border-radius: 10px;
}

.navbar-custom .navbar-brand span {
  color: #ff6a2a;
}

.navbar-custom .nav-link {
  font-weight: 500;
  margin-left: 8px;
  transition: color 0.2s ease;
  position: relative;
}

.navbar-custom .nav-link:hover {
  color: #ff6a2a ;
}

/* Underline animation */
.navbar-custom .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: #ff6a2a;
  transition: width 0.25s ease;
}

.navbar-custom .nav-link:hover::after {
  width: 100%;
}

/* Contact Button */
.navbar-custom .btn-warning {
 background: linear-gradient(135deg, #ff6a2a, #ff8c42);
  color: #ffffff;
  padding: 10px 22px;
  border-radius: 999px;
  font-weight: 600;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.navbar-custom .btn-warning:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 24px rgba(255, 106, 42, 0.4);
  color: #ffffff;
}
